In [2]:
import boto3
import pandas as pd
from smart_open import smart_open

#AWS Credentials
aws_access = 'AKIA3OQDEGY5IF2353GU'
aws_secret_access = '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'

#Creating S3 client
s3 = boto3.client('s3', aws_access_key_id = aws_access, aws_secret_access_key = aws_secret_access)

#Bucket Directory
bucket = 'electricitydemandforecasting'
file = 'Data/data_for_analysis/actuals_1.csv'

file_path = 's3://{}:{}@{}/{}'.format(aws_access, aws_secret_access, bucket, file)

df = pd.read_csv(smart_open(file_path))

df

,Time,Load (kW),Pressure_kpa,Cloud Cover (%),Humidity (%),Temperature (C),Wind Direction (deg),Wind Speed (kmh)
0,18/3/2017 0:00,1.031472e+06,1012.48000,2.125,79.333333,16.764386,285.250000,6.253750
1,18/3/2017 1:00,1.007206e+06,1011.61875,0.000,82.166667,15.729386,285.000000,9.205000
2,18/3/2017 2:00,9.861084e+05,1010.72000,2.125,81.666667,15.816886,316.000000,11.283750
3,18/3/2017 3:00,9.707610e+05,1011.37625,17.125,82.250000,15.919386,327.000000,7.168750
4,18/3/2017 4:00,9.622584e+05,1011.50000,18.625,82.333333,15.769386,282.250000,0.780000
...,...,...,...,...,...,...,...,...
31907,6/11/2020 11:00,1.242830e+06,1012.85000,45.625,68.166667,21.299386,335.250000,8.280000
31908,6/11/2020 12:00,1.239480e+06,1011.75000,48.875,67.166667,22.419386,261.250000,11.466250
31909,6/11/2020 13:00,1.234773e+06,1010.93750,55.375,67.583333,22.971886,296.250000,14.507500
31910,6/11/2020 14:00,1.240140e+06,1010.25000,55.000,66.250000,24.314386,289.000000,16.397500
31911,6/11/2020 15:00,1.222309e+06,1009.75000,54.500,66.666667,24.131886,296.333333,19.646667